.notification


.side
  .side__user
    .side__user-content
      .side__user-name
        name

      = link_to "", class: "side__user--edit-user" do
        %i{ class: "fa fa-edit" }

      = link_to "", class: "side__user--new-group" do
        %i{ class: "fa fa-cog" }

  .side__groups
    .side__groups-list
      .side__group
        .side__group-name
          group-name
        .side__group-messeage
          text


.main
  .main__header
    .main__header--group.clearfix
      .main__header--group-name
        group-name

      = link_to "", class: "main__header--group-edit" do
        edit

    .main__header-members
      menbers
  .main__body
    .main__body--messages-list
      .main__body--message.clearfix
        .main__body--message-name
          name
        .main__body--message-time
          time
        .main__body--message-body
          message

  .main__footer
    %form{ action: "", class: "main__footer-form" }
      .main__footer-body
        %input{ placeholder: "type a message", class: "main__footer-body-message" }
        %label{ class: "main__footer-body-file" }
          %input{ type: "file", class: "file", id: "" }
          %i{ class: "fa fa-image" }
        %input{ type: "submit", class: "main__footer-body-submit", value: "Send" }

